@page "/Matematica/{operacao}"

@using SAMMI.Domain.DTOs.Pontuacao.Request;
@using SAMMI.Domain.Enumerators;
@using System.Net

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<RadzenRow>
    <RadzenColumn>
        <RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
            <div style="margin-top: 0%; text-align: center">
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" Style="color: black; font-family: 'Lilita One', sans-serif;">Resolva a Conta!</RadzenText>
            </div>
            <div class="rz-p-12 rz-text-align-center" style="font-size: 20px">
                <RadzenLabel Text="@(questao)" Style="margin-left: 8px; vertical-align: middle;" />
            </div>
            @if (!string.IsNullOrEmpty(msg))
            {
                <div class="rz-p-12 rz-text-align-center" style="font-size: 16px;padding: 1rem!important;">
                    <RadzenLabel Text="@(msg)" Style="margin-left: 8px; vertical-align: middle;" />
                </div>
            }
            <div class="rz-p-12 rz-text-align-center" style="padding: 1rem!important;">
                @foreach (var button in buttons)
                {
                    <RadzenButton @key="button.Id" Text="@Convert.ToString(button.alternativa)" Click="@(() => OnButtonClick(button))" Style="@button.Style" />
                }
            </div>
            <div class="rz-p-12 rz-text-align-center" style="margin: 2rem -2rem -2rem -2rem;">
                <RadzenButton Variant="Variant.Flat" Click=@(() => voltar()) Style="margin-right: 20px; background-color: #450AE5" Text="Voltar" />
                <RadzenButton Variant="Variant.Flat" Click=@(() => setquestion()) Style="background-color: #450AE5" Text="Proxima" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenButton Variant="Variant.Flat" Click=@(() => Finalizar()) Text="Finalizar Jogatina" Style="background-color: #450AE5" />
            </div>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {

    [Parameter]
    public string operacao { get; set; }

    public string questao;
    public string msg;
    public int resposta;
    public int contador = 0;
    public int pontos = 0;

    static Random rnd = new Random();

    private class ButtonModel
    {
        public int Id { get; set; }
        public int alternativa { get; set; }
        public string Style { get; set; }
    }

    private List<ButtonModel> buttons = new List<ButtonModel> { };

    private void OnButtonClick(ButtonModel clickedButton)
    {
        if (clickedButton.alternativa == resposta)
        {
            pontos++;
            contador++;
            msg = contador >= 3 ? "Parabens! essa é a " + contador + " consecutiva!" : "PARABÉNS!";
            clickedButton.Style = "background-color: green; color: white;";

            // Controller con = new Controller();
            // Usuario user = con.getuser();
            // UserMatematica newmatematica = user.matematica;
            UserMatematica newmatematica = new UserMatematica();

            switch (operacao)
            {
                case "adi": newmatematica.adi++; break;
                case "sub": newmatematica.sub++; break;
                case "mul": newmatematica.mul++; break;
                case "div": newmatematica.div++; break;
            }

            // if (con.islogged()) // if a user is logged, update his math status
            // {
            //     con.upadateusermatematica(newmatematica);
            // }
        }
        else
        {
            contador = 0;
            msg = "POXA! Tente novamente! :)";
            clickedButton.Style = "background-color: red; color: white;";
        }
    }

    void setquestion()
    {
        msg = "";
        int prinumero = rnd.Next(1, 25);
        int segnumero = rnd.Next(1, 25);

        switch (operacao)
        {
            case "adi":
                questao = prinumero + " + " + segnumero + " = __";
                resposta = prinumero + segnumero;
                break;
            case "sub":
                if (prinumero > segnumero)
                {
                    questao = prinumero + " - " + segnumero + " = __";
                    resposta = prinumero - segnumero;
                }
                else
                {
                    questao = segnumero + " - " + prinumero + " = __";
                    resposta = segnumero - prinumero;
                }
                break;
            case "mul":
                prinumero = rnd.Next(1, 11);
                segnumero = rnd.Next(1, 11);

                questao = prinumero + " X " + segnumero + " = __";
                resposta = prinumero * segnumero;
                break;
            case "div":
                prinumero = rnd.Next(2, 11);
                segnumero = rnd.Next(2, 11);
                int r = prinumero * segnumero;

                questao = r + " / " + prinumero + " = __";
                resposta = segnumero;
                break;
        }

        buttons = new List<ButtonModel>
        {
            new ButtonModel { Id = 1, alternativa = resposta + rnd.Next(1, 11), Style="background-color: #047DE8"},
            new ButtonModel { Id = 2, alternativa = resposta - rnd.Next(1, 11), Style="background-color: #047DE8"},
            new ButtonModel { Id = 3, alternativa = resposta + rnd.Next(1, 11), Style="background-color: #047DE8"},
            new ButtonModel { Id = 4, alternativa = resposta - rnd.Next(1, 11), Style="background-color: #047DE8"}
        };

        buttons[rnd.Next(0, 4)].alternativa = resposta;
    }

    protected override void OnInitialized() // = On Page Load
    {
        setquestion();
    }

    public async void Finalizar()
    {

        var request = new CriarPontuacaoRequest
            {
                Nivel = Nivel.SeteAnos,
                TipoJogo = operacao == "adi" ? TipoJogo.Adicao :
                           operacao == "sub" ? TipoJogo.Subtracao :
                           operacao == "mul" ? TipoJogo.Multiplicacao :
                           TipoJogo.Divisao,
                QuantidadePontuacao = pontos
            };

        var response = await HttpClient.PostAsJsonAsync("pontuacao", request);
        if (response.StatusCode == HttpStatusCode.Created)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Sucesso",
                    Detail = "Pontuação Registrada com Sucesso!!!",
                    Duration = 4000
                });

            NavigationManager.NavigateTo("/pontos");
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Problemas ao Registrar Pontuação",
                    Detail = errorContent,
                    Duration = 4000
                });
        }
    }


    public void voltar()
    {
        NavigationManager.NavigateTo("/home");
    }

}
